# BACKEND
BACKEND/node_modules/
BACKEND/.env

# FRONTEND
FRONTEND/node_modules/
FRONTEND/dist/

# General ignores
*.log
npm-debug.log*
*.env

# OS files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/
